.outer{
    border-radius: 20px;
    background-color: silver;
    border: 2px solid yellow;
    box-shadow: 0px 0px 50px silver;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 8%;
}
.br{
    border-radius: 20px;
}