
.outer{
    border-radius: 20px;
    background-color: silver;
    border: 2px solid yellow;
    box-shadow: 0px 0px 50px black;
    margin: 30%;
    margin-top: 10%;
}
.heading{
    color: yellow;
    text-shadow: 0px 0px 10px black
  }
  button{
    color: yellow;
  }
.br{
    border-radius: 20px;
}