<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand fs-3 text-warning fw-bolder ms-3" href="user">OrderIt</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fs-5 fw-semibold me-2" href="user">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-semibold" href="user/cart">Cart</a>
          </li>
        </ul>
        <div class="d-flex">
          <button class="btn btn-outline-warning" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </nav>